.my-orders{
    margin: 50px 0px;
}
.container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
}
.my-ordeers-order{
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 2fr 1fr;
    align-items: center;
    gap: 30px;
    font-size: 14px;
    padding: 10px 20px;
    color: gray;
    border: 1px solid tomato;
}
.img{
    font-size: 40px;
    color: red;
}
.my-ordeers-order p span{
    color: tomato;

}
.my-ordeers-order p b{
    font-weight: 500;
    color: #454545;
}
.my-ordeers-order button{
    border: none;
    padding: 12px 0px;
    border-radius: 4px;
    background-color: rgb(46, 245, 83);
    cursor: pointer;
    color: #080808;
}

@media (max-width:900px) {
    .my-ordeers-order{
        grid-template-columns: 1fr 2fr 1fr;
        row-gap: 5px;
        font-size: 12px;

    }
   .my-ordeers-order button{
    font-size: 10px;
   }
}